body {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.list-container {
  margin-top: 20px;
  width: 90%;
  max-width: 600px;
  height: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  @media screen and (max-width: 400px) {
    max-width: 350px;
  }
}
.list {
  padding: 0 5px;
  &__item {
    color: rgb(44, 41, 41);
    list-style-type: none;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--state-completed {
      text-decoration: line-through;
    }
  }
  &__button {
    background-color: #c94040;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fff;
  }
}

.input {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  &__text {
    border: none;
    &:focus {
      outline: none;
    }
  }
  &__button {
    background-color: #8ec5fc;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fff;
  }
}
